body {
    background-color:darkorange;
    border-color: 4px solid brown;
}

.top{

    text-align: center;
    color:darkblue;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 4px -3px tomato;
}


hr{
    border: 1px solid black;
}